<section id="page" style="min-height: 1706px;">
    <div class="main-content" data-content-field="main-content" id="main-content">
        <h1 class="title-image loaded" data-shrink-original-size="26" id="title-image" style="letter-spacing: 0em;">
            <a href="{{ site.baseurl }}/">
                <img alt="Mossery Page" src="{{ site.baseurl }}/images/title.png"/>
            </a>
        </h1>
        {% if page.url == "/" %}
        <h1 class="thumb-image loaded" data-shrink-original-size="26" id="thumb-image" style="letter-spacing: 0em;">
            <a href="{{ site.baseurl }}/">
                <img alt="Mossery Page" src="{{ site.baseurl }}/images/thumb.jpg"/>
            </a>
        </h1>
        {% endif%}

        <div class="container">
            {{ content }}
        </div>
    </div>
</section>